Python/ATPGlobal.py
Generated Data/atp_data_features.csv
Python/main.py
Generated Data/atp_data.csv
Generated Data/confidence_data_1401_2018.csv
Generated Data/confidence_data_1410.csv
Generated Data/confidence_data_high_365.csv
Generated Data/confidence_data_high_all.csv
Generated Data/confidence_data_maxdepth12.csv
Generated Data/confidence_data_md10_lr01.csv
Generated Data/confidence_data_md19_lr01.csv
Generated Data/confidence_data.csv
Generated Data/confidence_data2008.csv
Generated Data/confidence_data2018.csv
Generated Data/confidence_data2019.csv
Generated Data/confidence_data14012020.csv
Generated Data/confidence_datamd19lr01.csv
Generated Data/confidence_datamd19lr295 (2).csv
Generated Data/confidence_datamd19lr295.csv
Generated Data/confidence_datanb150md10tourn20.csv
preds/confidence_data_2015_md19.csv
preds/confidence_data_lr001.csv
preds/confidence_data_maxdepth8.csv
preds/confidence_data_maxdepth10.csv
preds/confidence_data_no_highest.csv
preds/confidence_data2000.csv
preds/confidence_data2007.csv
preds/confidence_data2020.csv
preds/latest_preds.xlsx
preds/my_preds-8-1.csv
preds/preds-9-1.csv
atp_data.csv
confidence_data.csv
